@model IEnumerable<Application.Models.DSModel>

@{
    ViewBag.Title = "ViewDateSheet";
    Layout = "~/Views/Shared/AdminDashboard.cshtml";
}

<h2>ViewDateSheet</h2>

<p>
    @Html.ActionLink("Create New", "AddOrEditDateSheet", "DateSheet", new { @class = "btn btn-success" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Room)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Paper)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Semester)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Room)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Paper)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Semester)
            </td>
            <td>
                <a href="@Url.Action("AddOrEditDateSheet","DateSheet",new { id=item.ID})" class="btn btn-warning">Edit</a>
                <a onclick="Delete(@item.ID)" class="btn btn-danger">Delete</a>

            </td>
        </tr>
    }

</table>
@section scripts
{
    <script>

        $(function () {
             var successMessage = '@TempData["SuccessMessage"]'
            if (successMessage != '')
                alertify.success(successMessage);
        });

        function Delete(id) {
            alertify.confirm('Kust Exam Portal', 'Are you Sure to Delete this Record?',function () {
                window.location.href = '@Url.Action("DeleteDateSheet","DateSheet")/' + id;
            }, null);
        }
    </script>
}